{
    "language": "en_CA",
    "asset_path": "./assets/",
    "font_file": "NotoSans/NotoSans-Regular.ttf",
    "window_height": 61,
    "window_width": 99,
    "ups": 180,
    "max_fps": 10000,
    "fullscreen": false,
    "vsync": false,
    "initial_world_size": 3,
    "font_size": 16,
    "game_scene_key_bindings": {
        "bindings": {
            "\"Down\"": {
                "Camera": {
                    "Move": {
                        "South": []
                    }
                }
            },
            "\"Comma\"": {
                "Camera": {
                    "Move": {
                        "Down": []
                    }
                }
            },
            "\"Up\"": {
                "Camera": {
                    "Move": {
                        "North": []
                    }
                }
            },
            "\"Left\"": {
                "Camera": {
                    "Move": {
                        "West": []
                    }
                }
            },
            "\"Right\"": {
                "Camera": {
                    "Move": {
                        "East": []
                    }
                }
            },
            "\"Period\"": {
                "Camera": {
                    "Move": {
                        "Up": []
                    }
                }
            }
        }
    }
}
